[Unit]
Description=Impulse charge tracking service
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
User=prew
ExecStart=/opt/impulse/bin/impulse --generate-charges --generate-transactions --process-timecharges --compute-storage --sync-users
Environment=RUST_LOG=trace

[Install]
WantedBy=multi-user.target
