[Unit]
Description=Prew PostgreSQL reverse rewrite proxy
After=network-online.target
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=prew
ExecStart=/opt/impulse/bin/prew -c /opt/impulse/etc/prew.toml
WorkingDirectory=/opt/impulse/bin/
Environment=RUST_LOG=debug

[Install]
WantedBy=multi-user.target
